@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to <a href="/TaskList/ViewTask">Task List</a> or <a href="/TaskList/AddTask">Add Task</a>.</p>
</div>
